/*  peach: f0b49e;  cream: e5fcc2;  sea: 7bbec4;  pop-orange: f26c66;
  pop-green: 9de0ad;  charcoal: 323131;  brown: 594f4f; */
  html{
    height:100%;background:#252523;color:#eeeeee;
    font-family:'Roboto', sans-serif; font-weight:100;
    font-size:.95em;
  }
  body{min-width:650px};
  div{position: relative;}
  a{
    color:#FDEDEC; 
    color:#dbcccc; 
    cursor:pointer;
    text-decoration: none;
  }
  ul li p {font-size:100%;}
  span.code {
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
    background:#2b2b2b;
    border-radius:2px;
  }

  a:hover{color:#fff;}