html{
  height:100%;
  background: $headerFooterBackground;
  color:$baseFontColor;
  font-family: $font, sans-serif; font-weight:100;
  font-size:.95em;
}
body{
  min-width:650px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
};
@media only screen and (max-width: 649px){
  body{
    width:100%;
    min-width:320px;
  }
}
div{position: relative;}
a{
  color: $navLinkColor;
  cursor:pointer;
  text-decoration: none;
}
ul li p {font-size:100%;}
span.code {
  font-family: 'Courier New', Courier, monospace;
  color:#fff;
  background:#2b2b2b;
  border-radius:2px;
}

a:hover{color:#fff;}

.clear{
  width:100%;
  height:0;
  border:0; margin:0; padding:0;
  clear:both;
}