main{
  padding:3em 0;
  background: $mainBackground;
}

  main h2{
    color:$navLinkColor;
    color:#000;
    font-size:2.8em;
    font-weight:400;
    padding:1em 0;
  }
  main h2 a{
    color:#000;
  }
  main h2 a:hover{
    color:#222;
  }
  main article{
    max-width:650px;
    padding:.2em 0 1em 0;
  }

  @media only screen and (max-width : 649px){
    main article{
      width:100%;
      overflow:hidden;
    }
  }
    
    article h3 {
      color:#D58581;
      padding:.5em 0;
      font-size:1.3em;
      font-weight:400;
    }
    article h4 {
      color:#D58581;
      color:#000;
      padding:1em 0 .3em 0;
      font-size:1.3em;
      font-weight:400;
    }
    article ul li{
      padding-left:15px;
    }
      article ul.inline{
        margin-bottom:30px;
      }
      article ul.inline li{
        float:left;
        display:block;
        width:140px;
        height:128px;
        margin:20px 20px 0 0;
        padding:0;
        line-height: 128px;
        text-align: center;
      }
        ul.inline li a,
        ul.inline li label{
          display:block;
        }
        ul.inline li label{
          padding:0 0 10px 0;
        }
        li.git{
          background:url(/img/icon_github.png);
          background-position:center;
          background-repeat:no-repeat;
        }
        li.email{
          background:url(/img/icon_email.png);
          background-position:center;
          background-repeat:no-repeat;
        }
        li.tw{
          background:url(/img/icon_twitter.png);
          background-position:center;
          background-repeat:no-repeat;
        }
        li.li{
          background:url(/img/icon_linkedin.png);
          background-position:center;
          background-repeat:no-repeat;
        }
        
    article p{
      line-height:1.5em;
      padding:.45em 0;
      font-size:1.2em;
      color:$baseFontColor;
    }
    article strong{
      color:#dbcccc;
      font-weight:400;
    }
    article span.date{
      font-style:italic;
      color:#000;
      font-weight:300;
    }
    article a{
      color:$linkColor;
    }
    article a:hover{
      color:$linkHover;
    }
    article a.call-to-action{
      display:inline-block;
      padding:20px;
      background:$salmon;
      color:white;
      font-size:2em;
      margin:1em 0;
    }
    article pre.language-javascript{
      background: $mainBackground;
      padding:0;
    }


