/*

#dbcccc
#FDEDEC
#B3A3A2

*/


$headerFooterBackground: #252523;
$mainBackground: #3d3b3a; /* tried #363432, #444240 */

$font: 'Roboto', sans-serif;
$baseFontColor: #f7efef;

$navLinkColor:#dbcccc;
$linkColor: #DD7D78; /* #FDEDEC, #B3A3A2, #dbcccc, #CD8D89 */

/* highlights */
$salmon: #f26c66;


@import "reset";
@import "prism";
@import "global";
@import "main";
@import "portfolio";
@import "header";
@import "footer";