<!DOCTYPE html>
<html lang="en" data-ng-app="redcedar">
<head>
  <meta charset="UTF-8">
  <title>Redcedar</title>
  <meta name="viewport" content="width=device-width">
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body data-ng-controller="mainController">

  <header>
    <section>
      <nav>
        <div class="left">
          <h1>
            <a href="/" data-ng-click="page = home" data-ng-class="{active:isActive('/')}">
              <span class="s1">R</span>
              <span class="s2">e</span>
              <span class="s3">d</span>
              <span class="s8">c</span>
              <span class="s7">e</span>
              <span class="s6">d</span>
              <span class="s4">a</span>
              <span class="s3">r</span>
            </a>
          </h1>
        </div>
        <div class="right">
          <a href="/#/logs" data-ng-click="page = 'logs'" data-ng-class="{active:isActive('/logs')}">Logs</a>
          <a href="/#/portfolio" data-ng-click="page = 'portfolio'" data-ng-class="{active:isActive('/portfolio')}">Portfolio</a>
          <a href="/#/etc" data-ng-click="page = 'etc'" data-ng-class="{active:isActive('/etc')}">Etc</a>
        </div>
      </nav>
      <div id="sub-nav">
        <div data-ng-show="isActive('/')"></div>
        <div data-ng-show="isActive('/logs')">
          <a href="">Whiteboard</a>
          <a href="">Review</a>
        </div>
        <div data-ng-show="isActive('/portfolio')">
          <a href="">Lamp</a>
          <a href="">Mean</a>
        </div>
        <div data-ng-show="isActive('/etc')">
          <a href="">Contact</a>
          <a href="">Resume</a>
        </div>
      </div>
    </section>
    <div id="scrim"></div>
  </header>

  <div data-ng-view></div>

  <footer></footer>

  <script src="scripts.js"></script>
</body>
</html>