<main>
  <section>
    <article>
      <h2>How to Contact Me</h2>
      <ul class="inline">
        <li class="git">
          <a href="https://github.com/walkermalling">/walkermalling</a>
        </li>
        <li class="email">
          <a href="mailto:walker.malling@gmail.com">walker.malling</a>
        </li>
        <li class="tw">
          <a href="https://twitter.com/_redcedar">@_redcedar</a>
        </li>
        <li class="li">
          <a href="https://www.linkedin.com/in/walkermalling">/walkermalling</a>
        </li>
      </ul>
      <div class="clear"></div>
    </article>
    <article>
      <h2>About Me</h2>
      <p></p>
    </article>
    <article>
      <h2>Resume</h2>
      <h4>Experience</h4>
      <p><a href="http://www.codefellows.org">CodeFellows</a> FullStack JavaScript Accelerator</p>
      <ul>
        <li><p>Launched <a href="http://www.sextant.io">Sextant.io</a> as final project: an analytics service built on Node and Angular.</p></li>
        <li><p>Launched <a href="http://group-atw.herokuapp.com">Along the Way</a>, a mid-term project using Backbone.</p></li>
        <li><p>Focus: unit testing, data structures, and modern build-tools.</p></li>
      </ul>
      <p>Principle &amp; Lead Developer @ Coda Web Development <span class="date">2011 to Present</span></p>
      <ul>
        <li><p>Managed finance, client relations, and full-stack technical development, doubling contracts annually.</p></li>
        <li><p>Grew business from small markup contracts to developing custom backend features for international companies.</p></li>
        <li><p>Created custom CMS, CRM, Checkout Systems, Authentication Systems, &amp; Email Automation.</p></li>
      </ul>
      <h4>Projects</h4>
      <p>See <a href="/#/portfolio">portfolio</a></p>
      <h4>Education</h4>
      <ul>
        <li>
          <p><strong>Code Fellows</strong><span class="date"> &mdash; Seattle, WA 2014</span></p>
          <p>Certificate, Full Stack JavaScript Engineering</p>
        </li>
        <li>
          <p><strong>University of Washington</strong><span class="date"> &mdash; Seattle, WA 2011</span></p>
          <p>CSE Introduction Courses, Non-matriculated</p>
        </li>
        <li>
          <p><strong>SUNY Stony Brook</strong><span class="date"> &mdash; New York, NY 2009 - 2011</span></p>
          <p>M.A., Philosophy &amp; Art</p>
        </li>
        <li>
          <p><strong>Whitman College</strong><span class="date"> &mdash; Walla Walla, WA 2002 - 2006</span></p>
          <p>B.A., Philosophy with Honors &mdash; Magna Cum Laud</p>
        </li>
      </ul>
    </article>
  </section>
</main>