<main>
  <section>

    <h2>Etc</h2>

    <article>
      <h3>How to Contact Me</h3>
      <ul>
        <li>Github</li>
        <li>Email</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
      </ul>
    </article>
    <article>
      <h3>About Me</h3>
      <p></p>
    </article>
    <article>
      <h3>Resume</h3>
      <h4>Experience</h4>
      <p>Principle &amp; Lead Developer @ Coda Web Development <span class="date">2011 to Present</span></p>
      <ul>
        <li><p>Managed finance, client relations, and full-stack technical development, doubling contracts annually.</p></li>
        <li><p>Grew business from small markup contracts to developing custom backend features for international companies.</p></li>
        <li><p>Created custom CMS, CRM, Checkout Systems, Authentication System, &amp; Email Automation.</p></li>
      </ul>
      <h4>Projects</h4>
      <p>See <a href="/#/portfolio">portfolio</a></p>
      <h4>Education</h4>
      <ul>
        <li>
          <p><strong>Code Fellows</strong><span class="date"> &mdash; Seattle, WA 2014</span></p>
          <p>Certificate, Full Stack JavaScript Engineering</p>
        </li>
        <li>
          <p><strong>University of Washington</strong><span class="date"> &mdash; Seattle, WA 2011</span></p>
          <p>CSE Introduction Courses, Non-matriculated</p>
        </li>
        <li>
          <p><strong>SUNY Stony Brook</strong><span class="date"> &mdash; New York, NY 2009 - 2011</span></p>
          <p>M.A., Philosophy &amp; Art</p>
        </li>
        <li>
          <p><strong>Whitman College</strong><span class="date"> &mdash; Walla Walla, WA 2002 - 2006</span></p>
          <p>B.A., Philosophy with Honors &mdash; Magna Cum Laud</p>
        </li>
      </ul>
    </article>
  </section>
</main>