<main>
  <header>
    <h1>P</h1>
    <h1>H</h1>
  </header>
  <nav>
    <div id="first-top-border-green"></div>
    <div id="second-top-border-green"></div>

    <div class="menu-item primary"><a href="">About</a></div>
    <div class="menu-item secondary"><a href="">Public Events Calendar</a></div>
    <div class="menu-item tertiary"><a href="">Inquiries</a></div>
    <div class="menu-item qaternary"><a href="">Articles &amp; Submissions</a></div>
    <div class="menu-item quinary"><a href="">Fellows</a></div>

    <div class="inverted-border" id="left-inverted-border"></div>
    <div class="inverted-border" id="right-inverted-border"></div>
  </nav>
  <footer>
    
  </footer>
</main>
