<main>
  <section>
    <article>
      <h2>Hi, I’m Walker. I am a web applications developer in Seattle.</h2>
      <p>Redcedar is the namespace for my development work.</p>
      <p>I’ve recently turned to full-stack javascript development after several years working with LAMP.</p>
      <p>Head over to the <a href="/#/logs">Logs</a> for reflections on recent projects and problems I've found interesting.  Take a look at my <a href="/#/portfolio">Portfolio</a> of professional and open source work. The particulars of how to get in touch with me, etc., are filed under... <a href="/#/etc">Etc</a>.</p>
      <p></p>
    </article>
  </section>
</main>
