<main>
  <section>
    <article>
      <h2>Portfolio</h2>
      <h3>MEAN Stack</h3>
      <ul>
        <li><a href="http://www.sextant.io">Sextant Analytics</a></li>
        <li><a href="https://github.com/FindAllTheThings/AlongTheWay">Along the Way</a></li>
        <li><a href="http://www.purlieuhall.com">Purlieu Hall</a></li>
      </ul>
      <h3>LAMP Stack</h3>
      <ul>
        <li><a href="http://www.rmiguides.com">Ranier Mountaineering</a></li>
        <li><a href="www.whittakermountaineering.com">Whittaker Mountaineering</a></li>
        <li><a href="http://www.regattanetwork.com">Regatta Network: ILCA</a></li>
        <li><a href="https://www.we-cycle.org">We Cycle</a></li>
        <li><a href="http://michaelstusser.com">Michael Stusser</a></li>
      </ul>
    </article>
  </section>
</main>