<main>
  <section id="mean">
    <article class="portfolio">
      <h2>MEAN Stack</h2>
      <ul>
        <li class="highlight">
          <a href="https://github.com/Sextant-WDB/sextant-ng"><div class="ss sextant"></div></a>
          <a href="https://github.com/Sextant-WDB/sextant-ng">Sextant Analytics</a>
          <p>Final Project at CodeFellows. A Google Analytics clone, tailored to single-page application build with Angular. Technologies used:
          <span class="tech">Angular.js</span>,
          <span class="tech">CORS</span>,
          <span class="tech">socket.io</span>,
          <span class="tech">jwt</span>,
          <span class="tech">uuid</span>,
          <span class="tech">mongoose</span>,
          <span class="tech">moment.js</span>,
          <span class="tech">mocha + chai</span>,
          <span class="tech">karma + jasmine</span>
          </p>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/FindAllTheThings/AlongTheWay">Along the Way</a>
          <p>Mid-term Project at CodeFellows. Plots points of interest along a given route on Google Maps. To follow best bractices I modified an open source npm package to allow loading Google Maps libraries into a given Backbone view.  Technologies used:
            <span class="tech">Backbone.js</span>,
            <span class="tech">node-google-maps*</span>
            <span class="tech">mocha + chai</span>
            <span class="tech">handlebars</span>
            <span class="tech">lo-dash.js</span>
          </p>
        </li>
        <!-- <li>
          <a href="http://www.purlieuhall.com">Purlieu Hall</a>
          <p>Personal Project.  Internal website for Purlieu Hall LLC, a literary society in Pioneer Square.</p>
        </li> -->
      </ul>
      <div class="clear"></div>
    </article>
  </section>

  <section id="lamp">
    <article class="portfolio">
      <h2>LAMP Stack</h2>
      <ul>
        <li class="highlight">
          <a href="www.whittakermountaineering.com"><div class="ss wm"></div></a>
          <a href="www.whittakermountaineering.com">Whittaker Mountaineering</a>
          <p>Whittaker Mountaineering sells and rents mountaineering equipment.  In addition to making their site-mobile adaptive and customizing their checkout system, I helped develop their internal site, including their Client Relations Management system (including email automation) and their CMS.  Based in Ashford, WA.  Technologies used:
            <span class="tech">ExpressionEngine</span>, 
            <span class="tech">CartThrob</span>,
            <span class="tech">Custom PHP</span>,
            <span class="tech">Custom EE Modules</span>,
            <span class="tech">MySQL</span>,
            <span class="tech">AJAX</span>
          </p>
        </li>
      </ul>
      <ul>
        <li>
          <a href="http://michaelstusser.com"><div class="ss stusser"></div></a>
          <a href="http://michaelstusser.com">Michael Stusser</a>
          <p>Mr. Stusser is a writer, humorist, and general advocate of, well, reality, based in Seattle.  His site is written in vanilla <span class="tech">PHP</span></p>
        </li>
        <li>
          <a href="http://www.rmiguides.com"><div class="ss rmi"></div></a>
          <a href="http://www.rmiguides.com">Ranier Mountaineering</a>
          <p>RMI leads mountaineering expedion world-wide.  Their site content is mangaed through <span class="tech">ExpressionEngine</span>.  I helped develop their client facing registration system, and their backend expedition management.  Other technologies used: <span class="tech">PHP</span>, <span class="tech">MySQL</span>, <span class="tech">AJAX</span></p>
        </li>
        <li>
          <a href="http://www.regattanetwork.com"><div class="ss rn"></div></a>
          <a href="http://www.regattanetwork.com">Regatta Network: ILCA</a>
          <p>Regatta Network provided software for regattas worldwide to organize and manage their events, including sailor registration, ranking, sophisticated email automation, and billing.  I helped build their custom application for the International Laser Class Association, which had unqiue policy requirements.  Consequently the project invovled synchronizing a sharded database system.  Built with <span class="tech">Laravel</span></p>
        </li>
        <li>
          <a href="https://www.we-cycle.org"><div class="ss cycle"></div></a>
          <a href="https://www.we-cycle.org">We Cycle</a>
          <p>We Cylce is a non-profite organization bringing on-the-go bicycle rental to Aspen, CO.  Their site is built on <span class="tech">ExpressionEngine</span></p>
        </li>
        
      </ul>
      <div class="clear"></div>
    </article>
  </section>
</main>